:where(*) {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

:where(img) {
	display: block;
	max-width: 100%;
}

:where(body) {
	font-family: var(--font-primary);
	font-size: 1rem;
	line-height: 1.5;
}

:where(button, input, select, textarea) {
	font: inherit;
}

:where(ul, ol) {
	list-style: none;
}

:where(html, body, main) {
	height: 100dvh;
}
