:where(*) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(*:before, *:after) {
	box-sizing: inherit;
}

:where(html, body, main) {
	height: 100dvh;
}

:where(ul, ol) {
	list-style: none;
}

:where(img) {
	display: block;
	max-width: 100%;
}
